.sectionArea{
    width: 100%;
    height: 100vh;
    background-color: var(--beige);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: row;
    max-width: var(--maxSizeDesktop);
}

.tituloSection{
    font-family: var(--neueBold);
    font-size: 60px;
    width: 645px;
    line-height: 115%;
}

.subtituloSection{
    font-family: var(--interRegular);
    font-size: 24px;
    color: var(--textoGris);
    max-width: 594px;
    line-height: 150%;
}

.derechaSection{
    flex: 1;
    overflow: visible;

    display: flex;
    flex-direction: column;
    gap: 27px;
}

.izquierdaSection{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgSection{
    width: 100%;
}

@media (max-width: 767px) {
    .sectionArea{
        min-height: 100vh;
        height: auto;
    }

    .container{
        flex-direction: column;
        padding: 0 40px;
        gap: 30px;
    }

    .derechaSection{
        justify-content: center;
        align-items: center;
    }

    .tituloSection{
        font-size: 36px;
        width: 80%;
    }
    
    .subtituloSection{
        font-size: 14px;
    }
    
    .tituloSection,
    .subtituloSection{
        text-align: center;
    }
}