.sectionArea{
    width: 100vw;
    height: 100vh;
    background-color: var(--beige);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: row;
    max-width: var(--maxSizeDesktop);
}

.quienSoy{
    font-family: var(--interItalic);
    font-size: 20px;
    position: relative;
    display: inline-block;
    width: fit-content;
    z-index: 0;
}

.quienSoy::before{
    content: "";
    position: absolute;
    background-color: var(--verde);
    bottom: 0px;
    width: 100%;
    height: 10px;
    z-index: -1;
}

.tituloSection{
    font-family: var(--neueBold);
    font-size: 60px;
    width: 645px;
    line-height: 115%;
}

.subtituloSection{
    font-family: var(--interRegular);
    font-size: 24px;
    color: var(--textoGris);
    max-width: 594px;
    line-height: 150%;
}

.derechaSection{
    flex: 1;
    overflow: visible;

    display: flex;
    flex-direction: column;
    gap: 27px;
}

.izquierdaSection{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgSection{
    width: 100%;
}