.contenedorPrincipal{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.tarjetaContenedor{
    background-color: var(--beige);
    box-shadow: var(--shadow);
    height: 104px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imagenHerramienta{
    width: 58px;
    height: 58px;
}

.figma{
    width: 48px;
    height: 75px;
}

.tituloHerramienta{
    text-align: center;
    font-size: 18px;
}

@media (max-width: 767px) {
    .contenedorPrincipal{
        max-width: 160px;
        width: 100%;
        justify-self: center;
    }
}