.servicesSection{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    max-width: var(--maxSizeDesktop);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.gridContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 20px;
    overflow: visible;
}

.textoContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.titulo{
    font-family: var(--neueBold);
    font-size: 60px;
}

.containerElementos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

@media (max-width: 767px) {
    .container{
        flex-direction: column;
        padding: 0 40px;
        gap: 30px;
    }

    .textoContainer{
        align-items: center;
    }

    .titulo{
        font-size: 36px;
        text-align: center;
    }

    .containerElementos{
        gap: 35px;
    }

    .gridContainer{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 22px;
        grid-row-gap: 19px;
    }
}