/* TextoDestacado.module.css */
.textoDestacado {
    font-family: var(--interItalic);
    font-size: 20px;
    position: relative;
    display: inline-block;
    width: fit-content;
    z-index: 0;
}

.textoDestacado::before {
    content: "";
    position: absolute;
    background-color: var(--verde);
    bottom: 0px;
    width: 100%;
    height: 10px;
    z-index: -1;
}

@media (max-width: 767px) {
    .textoDestacado{
        font-size: 12px;
    }
}