.experienceSection{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 64px 0;
    overflow-x: hidden;
}

.containerExperience{
    max-width: var(--maxSizeDesktop);
    overflow: visible;
}

.headingContainer{
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

.contenidoContainer{
    display: flex;
    flex-direction: column;
    gap: 41px;
    justify-content: center;
    align-items: center;
    overflow: visible;
    margin-top: 60px;
}

.tituloExperience{
    font-family: var(--neueBold);
    font-size: 60px;
}

/* Selecciona cualquier div o elemento generado dentro del título */
.tituloExperience > div, 
.tituloExperience div {
    font-family: inherit !important; /* O usa var(--neueBold) directamente */
}

.contenedorTarjetas{
    display: flex;
    flex-direction: row;
    gap: 16px;
    overflow: visible;
}

.estrellita{
    position: absolute;
    width: 100px;
    height: 103px;
    top: -43px;
    right: -52px;
    z-index: 10;
}

.tarjetaExperiencia{
    position: relative;
    background-color: var(--beige);
    box-shadow: var(--shadow);
    max-width: 524px;
    padding: 33px 30px;
    display: flex;
    flex-direction: column;
    gap: 22px;
    overflow: visible;
}

.tarjetaFormacion{
    gap: 31px;
}

.tituloTarjeta{
    font-family: var(--interMedium);
    font-size: 24px;
    font-weight: bolder;
}

.tituloExperiencia{
    font-size: 20px;
}

.parrafoFormacion{
    line-height: 1.4;
}

.negritaExperience{
    font-family: var(--interMedium);
    font-weight: bolder;
}

@media (max-width: 767px) {
    .containerExperience{
        padding: 0 40px;
    }

    .headingContainer{
        align-items: center;
    }

    .tituloExperience{
        font-size: 36px;
        text-align: center;
    }

    .contenedorTarjetas{
        flex-direction: column;
    }

    .contenidoContainer{
        margin-top: 38px;
    }

    .contenedorTarjetas{
        gap: 26px;
    }

    .tituloTarjeta{
        font-size: 20px;
    }
    .parrafoFormacion,
    .tituloExperiencia,
    .parrafoExperience{
        font-size: 14px;
    }
}