.tarjetaServicios{
    background-color: var(--beige);
    padding: 34px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 14px;
    box-shadow: var(--shadow);
    transition: all 0.3s ease;
}

.circuloServicios{
    background-color: var(--verde);
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 11px;
    border-radius: 100%;
}

.textoServicio{
    text-align: center;
    white-space: pre-line;
    color: var(--textoGris);
    font-family: var(--interMedium);
    font-weight: bold;
}

.tarjetaServicios:hover{
    transform: translateY(-2px);
}

@media (max-width: 767px) {
    .circuloServicios{
        width: 40px;
    }

    .textoServicio{
        font-size: 14px;
    }

    .tarjetaServicios{
        padding: 22px 0;
    }
}