.contactoSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 660px;
    max-height: 710px;
}

.contenedorPrincipal{
    display: flex;
    flex-direction: row;
    max-width: var(--maxSizeDesktop);
    flex: 1;
}

.contenedorIzquierda,
.contenedorDerecha{
    flex: 1;
}

.contenedorDerecha{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedorIzquierda{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenedorTextos{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.tituloContacto{
    font-family: var(--neueBold);
    font-size: 60px;
    width: 330px;
}

.textoContacto{
    color: var(--textoGris);
    width: 360px;
    font-size: 24px;
    font-family: var(--interRegular);
}

.lumiContacto{
    width: 100%;
}

@media (max-width: 767px){
    .contactoSection{
        min-height: 105vh;
        height: auto;
    }

    .contenedorPrincipal{
        flex-direction: column;
        padding: 0 40px;
        justify-content: space-between;
        gap: 30px;
    }

    .contenedorTextos{
        min-height: fit-content;
        gap: 15px;
        align-items: center;
    }

    .tituloContacto{
        font-size: 36px;
        width: 80%;
        text-align: center;
    }

    .textoContacto{
        font-size: 14px;
        width: 95%;
        text-align: center;
    }

    .lumiContacto{
        min-height: fit-content;
    }
}