.aboutArea{
    height: 100vh;
    width: 100vw;
    background-color: var(--blanco);

    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    gap: 60px;
    flex-direction: row;
    max-width: var(--maxSizeDesktop);
}

.subtituloAbout{
    font-family: var(--interItalic);
    font-size: 20px;
    position: relative;
    display: inline-block;
    width: fit-content;
    z-index: 0;
}

.subtituloAbout::before{
    content: "";
    position: absolute;
    background-color: var(--verde);
    bottom: 0px;
    width: 100%;
    height: 10px;
    z-index: -1;
}

.tituloAbout{
    font-family: var(--neueBold);
    font-size: 60px;
    width: 645px;
    line-height: 115%;
}

.descriptionAbout{
    font-family: var(--interRegular);
    font-size: 24px;
    color: var(--textoGris);
    max-width: 594px;
    line-height: 150%;
}

.derechaAbout,
.izquierdaAbout{
    flex: 1;
}

.izquierdaAbout{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.imgAbout{
    width: 100%;
}

@media (max-width: 767px) {
    .aboutArea{
        min-height: 80vh;
        height: auto;
    }

    .container{
        flex-direction: column-reverse;
        padding: 27px 40px;

    }

    .tituloAbout{
        font-size: 36px;
    }

    .descriptionAbout{
        font-size: 14px;
    }

    .tituloAbout,
    .descriptionAbout{
        width: 80%;
        text-align: center;
    }

    .izquierdaAbout{
        align-items: center;
        gap: 17px;
    }
}