.tarjetaContainer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
  display: flex;
  
}

.tarjetaContainer:hover {
  transform: scale(1.02);
}

.imagenFondo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.contenido{
  z-index: 2;
  color: var(--blanco);
  background-color: rgba(0, 0, 0, 0.5);
  height: fit-content;
  width: 100%;
  padding: 13px 10px;
  align-self: flex-end;
  text-align: center;
}

.titulo {
  font-family: var(--inter);
  font-size: 20px;
  margin-bottom: 5px;
}

.texto {
  font-family: var(--interItalic);
  font-size: 20px;
  font-weight: 100;
}