.containerTextoImg{
    display: flex;
    align-items: center;
}

.contenedorTextos,
.imgLumi{
    flex: 1;
}

.contenedorTextos{
    display: flex;
    flex-direction: column;
    gap: 27px;
    height: fit-content;
}

.titulo{
    font-size: 60px;
    font-family: var(--neueBold);
    width: 420px;
}

.descripcion{
    font-size: 24px;
    font-family: var(--interMedium);
    color: var(--textoGris);
    width: 330px;
}

.contenedorTools{
    max-width: var(--maxSizeDesktop);
    overflow: visible;

    display: flex;
    flex-direction: column;
    gap: 69px;
}

.toolsSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.contenedorTarjetas {
    overflow: visible;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 22px;
    grid-row-gap: 0px;
}